venv
*.pyc
.DS_Store
.env
app_backup.py
app_backup_230116.py
app_backup_230117.py
app_backup_230118.py
app_backup_230125.py
app_backup_230125_map.py
app_backup_230118_2.py
app_test.py
test-hart.ipynb
test-hart-checkpoint.ipynb
test-hart_area_code_mapping.ipynb
test-hart_area_code_mapping-checkpoint.ipynb
app_wip_230111.py
preset1_hart_backup.css
geo_db_uploader.py
.~test-hart.ipynb
**/Census Divisions/
**/Census SubDivisions/
**/Province Boundaries/